.error {
    color: red;
}

body {
    margin: 10em;
    font-family: "Arial", "Verdana";
    color: #444444;
}

table {
    padding-bottom: 3em;
    margin-left: 4em;
    color: navy;
}

.bold {
    font-weight: bold;
}

sub {
    color: #444444;
}

h1 {
    margin-left: 3.8em;
    padding-bottom: .5 em;
    font-size: 3em;
}

.submit {
    margin-top: 3em;
}

.button {
    background-color: white;
    font-family: "Arial", "Verdana";
    padding: 1em;
    margin: auto;
    margin-left: 18em;
}

.main {
    width: 55em;
    background-color: none;
    padding-bottom: 3em;
}

input {
    padding: 0.5em;
}